<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta content="width=device-width" name="viewport">
<title>about</title>
<link rel="stylesheet" href="/mie/pure-release-0.5.0/pure.css">
<link rel="stylesheet" href="/mie/main.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
</head>
<body>
  {{> header }} 
 <div class="pure-g">
  <div class="pure-u-3-24">
   <p></p>
  </div>
  <div class="pure-u-1-24">
   <p></p>
  </div>
  <div class="pure-u-6-24">
   <p>
    My name is Mie Funahashi, born and raised in Japan. I was interested in cultural exchange through the experience of hosting a student from Malaysia and
    going abroad.At Chukyo University, I studied American and British Cultural Studies. After graduation, I worked for Kinki Nippon Tourist about 3 years, I
    decided to go to the UK.<br> I moved to London in 2010. I enjoyed meeting new people from different cultural back ground, seeing historic and new
    things in London such as historic buildings, markets, parks, museums and galleries. It is cliché but I wanted to change my life in a different environment
    and started new career. Working at a travel agency and production company in London, I picked up art courses in Heathery School of Art. The passion of
    drawing and making was brought back to life from my childhood. In 2012, I studied Foundation in Art and Design at Kingston University. I was fascinated by
    visual communication. In 2013, I studied further in MA Communication Design: Graphic Design at Kingston University.<br> Currently I live in Camden,
    London (with lovely husband:) I'm excited to start my career as a graphic designer soon.
   </p>
  </div>
  <div class="pure-u-1-24">
   <p></p>
  </div>
  <img class="pure-u-10-24" alt="Mie Funahashi" src="/mie/images/portrait.jpg" />
 </div>
</body>
</html>