
        <div class="footer">
            <div class="pure-g">    
                <div class="pure-g">
                    <div class="pure-u-24-24" style="height: 60px;"><p> </p></div>
                </div>
                <div class="pure-u-4-24"><p> </p></div>
                <div class="pure-u-7-24">
                    <h1>About me</h1>
                    <p>My name is Mie. I'm a London based graphic designer, born and raised in Japan. 
                        I've been interested in languages and cultures. I studied British and American Cultural studies in Japan and started my career as travel agent after graduation. 
                        Moved to London in 2010 and studied Foundation in Art & Design at Kingston University and for further study MA Communication Design: Graphic Design at Kingston university.
                    </p>
                </div>
                <div class="pure-u-1-24"><p> </p></div>
                <div class="pure-u-3-24">
                    <h1>Contact me</h1>
                    <p>leoooon1228@gmail.com<br>
                        +44 7927 090161</p>
                </div>    
                <div class="pure-u-1-24"><p> </p></div>
                <div class="pure-u-3-24">     
                    <h1>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-543aca19665eea53" async="async"></script>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_horizontal_follow_toolbox"></div>
                    </h1>
                </div>
                <div class="pure-u-4-24"><p> </p></div>       
            </div>
            <div class="pure-g">
                <div class="pure-u-24-24" style="height: 60px;"><p> </p></div>
            </div>
        </div>
    </body>
</html>
